.sun {
    fill: yellow;
    r: 30;
    border: 1px solid #ccc;
    z-index: 1;
}

.planets {
    overflow: hidden;
}

.planets svg {
    margin: 0 auto;
    display: block;
}

.planet:hover {
    stroke-width: 2;
    stroke: green;
    stroke-dasharray: 5, 5;
    stroke-linecap: round;
}

.planet__field {
    fill: transparent;
}

.planet__field--observabled,
.planet__field:hover {
    fill: #fff;
    opacity: 0.2;
}

.planet__field--colonized  {
    stroke-width: 2;
    stroke: green;
    stroke-dasharray: 5, 5;
    stroke-linecap: round;
    fill: transparent;
    opacity: 1;
}

.planet__field:hover {
    stroke-width: 0;
    opacity: 0.2;
    cursor: pointer;
}

.orbit {
    fill: transparent;
    stroke-width: 1;
    stroke: #f0f0f0;
    opacity: 0.2;
    z-index: 0;
}

@media (max-width: 992px) {
    .planets {
        right: 0;
        height: 365px;
        width: 100%;
        position: absolute;
    }
}